{% extends "base.html" %}
{% block title %}Performance Analysis{% endblock %}

{% block content %}
<h4>Student Performance Analysis</h4>

<div class="row">
    <div class="col-md-6">
        <canvas id="scoreChart"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="attendanceChart"></canvas>
    </div>
</div>

<script>
new Chart(document.getElementById("scoreChart"), {
    type: "bar",
    data: {
        labels: [...Array({{ scores|length }}).keys()],
        datasets: [{ data: {{ scores|tojson }} }]
    }
});

new Chart(document.getElementById("attendanceChart"), {
    type: "scatter",
    data: {
        datasets: [{
            data: {{ attendance|tojson }}.map((a,i)=>({x:a,y:{{ scores|tojson }}[i]}))
        }]
    }
});
</script>
{% endblock %}
